let mapleader = " " " Set leader key
let maplocalleader = " "

"---------- plugins ----------
Plug 'preservim/nerdtree'
nmap nt :NERDTreeToggle<CR>
nmap nc :NERDTreeFocus<CR>
":NERDTreeFocus
":NERDTreeToggle
":NERDTreeFind
":NERDTreeRefreshRoot
" Open NERDTree at current file
nmap nf :NERDTreeFind<CR>

Plug 'easymotion/vim-easymotion'
nmap <leader>J <Plug>(easymotion-s)
nmap <leader>j <Plug>(easymotion-f)

set which-key

""" Idea specific settings ------------------
set ideajoin


""" Strict mode for development ---------------
set ideastrictmode

" ----- Global -----
syntax enable
syntax on
set clipboard=
set ignorecase
set incsearch
set nohlsearch
set noshowcmd
set number
set relativenumber
set smartcase
set scrolloff=7
set sidescrolloff=8
set history=500
set nowrap
set easymotion
set notimeout
let g:WhichKey_ShowVimActions = "true"
set peekaboo
set multiple-cursors
set highlightedyank
set matchit

" In insert or command mode, move by using Ctrl
cnoremap <C-h> <Left>
cnoremap <C-j> <Down>
cnoremap <C-k> <Up>
cnoremap <C-l> <Right>
inoremap <C-h> <Left>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap <C-l> <Right>

" Put r and x into the black hole register
nnoremap r "_r
xnoremap r "_r
nnoremap x "_x
xnoremap x "_x

" Stay in indent mode
vnoremap < <gv
vnoremap > >gv

" Keep last yanked when pasting
vnoremap p "_dP

" Disable highlight when <leader><leader> is pressed
nnoremap <leader><leader> :noh<CR>

" Goto
nnoremap gd :action GotoDeclaration<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gt :action GotoTypeDeclaration<CR>
nnoremap gu :action GotoDeclaration<CR>
nnoremap gz :action GotoTest<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap [[ :action MethodUp<CR>

" Terminal
nnoremap <leader>tt :action ActivateTerminalToolWindow<CR>

" Window
" nnoremap <Leader>ww <C-W>w
" nnoremap <Leader>wd <C-W>c
" nnoremap <Leader>wj <C-W>j
" nnoremap <Leader>wk <C-W>k
" nnoremap <Leader>wh <C-W>h
" nnoremap <Leader>wl <C-W>l
" nnoremap <Leader>ws <C-W>s
" nnoremap <Leader>wv <C-W>v
nnoremap <leader>wv :action SplitVertically<CR>
nnoremap <leader>wh :action SplitHorizontally<CR>
nnoremap <leader>wm :action MoveEditorToOppositeTabGroup<CR>
nnoremap <S-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>

" Debugging
nnoremap <leader>dc :action Debug<cr>
nnoremap <leader>ds :action Stop<CR>
nnoremap <leader>db :action ToggleLineBreakpoint<CR>

" Run
nnoremap <leader>rc :action ContextRun<CR>
nnoremap <leader>rx :action ChooseRunConfiguration<CR>
nnoremap <leader>rr :action Rerun<CR>
nnoremap <leader>rt :action RunTests<CR>
nnoremap <leader>rs :action Stop<CR>

" Fix
nnoremap <Leader>re :action RenameElement<CR>
nnoremap <Leader>rf :action RenameFile<CR>

" Show
nnoremap <leader>sh :action ShowHoverInfo<CR>
nnoremap <leader>ss :action FileStructurePopup<CR>
nnoremap <leader>sm :action ShowPopupMenu<CR>
nnoremap <leader>sus :action ShowUsages<CR>
nnoremap <leader>suf :action FindUsages<CR>
nnoremap <leader>sp :action ShowFilePath<CR>
nnoremap <leader>sr :action RecentFiles<CR>
nnoremap <leader>sa :action Annotate<CR>
nnoremap <leader>st :action TypeHierarchy<CR>
nnoremap <leader>sc :action LocalHistory.ShowHistory<CR>

" Actions
nnoremap <leader>ae :action ExtractMethod<CR>
vnoremap <leader>ae :action ExtractMethod<CR>
nnoremap <leader>az :action ToggleDistractionFreeMode<CR>
nnoremap <leader>ao :action CloseAllEditorsButActive<CR>
nnoremap <leader>ac :action CheckinProject<CR>
nnoremap <leader>ah :action Vcs.ShowTabbedFileHistory<CR>
nnoremap <leader>al :source ~/.ideavimrc<CR>


" Disable highlight when <leader><leader> is pressed
nnoremap <leader><leader> :noh<CR>

" Find and center
nnoremap n nzzzv
nnoremap N Nzzzv

" Vertical scroll and center
nnoremap <silent> <C-d> <C-d>zz
nnoremap <silent> <C-u> <C-u>zz

" Copy Reference
nnoremap <leader>cr :action CopyReference<CR>

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextOccurrence
xmap <C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence
" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences
